:root {
    --tab-height: 34px;
    --tab-gradient: linear-gradient(to bottom, #898989 0%, #676767 100%);
    --tab-gradient-hover: linear-gradient(to bottom, #777 0%, #595959 100%);
    --tab-gradient-inactive: linear-gradient(to bottom, #7d7d7d 0%, #5e5e5e 100%);
    --tab-border-color: #5e5e5e;
    --tab-text-color: #030303;
    --tab-text-color-inactive: #363636;
}

.hyper_main { border: none; }

.header_header {
    top: 0;
    left: 0;
    right: 0;
}

/* Create a half pixel top border */
.header_header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    z-index: 2;
    background: #cfcfcf;
    transform: scaleY(.5);
}

.tabs_nav {
    background: var(--tab-gradient-inactive);
    height: var(--tab-height);
    line-height: var(--tab-height);
}

.no-tabs .tabs_nav {
    background: var(--tab-gradient);
}

.tabs_list {
    max-height: var(--tab-height);
}

.fullscreen .tabs_list {
    margin-left: 0;
}

.tabs_nav .tab_tab {
    background: var(--tab-gradient-inactive);
    border-left: 1px solid var(--tab-border-color) !important;
    border-bottom: 0;
    transition: background .25s ease-out;
}

.no-tabs .tabs_nav .tab_tab {
    background: var(--tab-gradient);
}

.tabs_nav .tab_text,
.tabs_nav .tabs_title {
    height: var(--tab-height);
    color: var(--tab-text-color-inactive);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1);
    transition: .25s ease-out;
}

.tabs_nav .tabs_title,
.fullscreen .tabs_nav .tab_text {
    font-size: 13px;
}

.tabs_nav .tabs_title,
.tabs_nav .tabs_list .tab_active .tab_text {
    color: var(--tab-text-color);
}

.tabs_nav .tab_tab.tab_first:not(.tab_active) {
    border-left: 0 !important;
}

.tabs_nav .tab_tab.tab_first:not(.tab_active):hover {
    box-shadow: -1px 0 0 var(--tab-border-color);
}

.tabs_nav .tab_tab:not(.tab_active):hover {
    background: var(--tab-gradient-hover);
}

.tabs_nav .tabs_list .tab_active {
    background: var(--tab-gradient);
}

.tabs_nav .tabs_list .tab_active .tab_text {
    transition: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .15);
    z-index: 1;
}

.tabs_nav .tabs_borderShim {
    display: none;
}

.tabs_nav .tabs_list .tab_icon {
    z-index: 2;
    right: auto;
    left: 7px;
    top: 11px;
    color: var(--tab-text-color);
    border-radius: 3px;
    filter: drop-shadow(0 1px 0 rgba(255, 255, 255, .15));
}

.tabs_nav .tabs_list .tab_icon:hover {
    color: var(--tab-text-color);
    padding: 4px;
    background-color: #676767;
    filter: none;
}

.tabs_nav .tabs_list .tab_icon:active {
    transition: none;
    background-color: #5e5e5e;
}

.terms_terms {
    margin-top: var(--tab-height);
    border-top: 1px solid #181818;
}
